/*
Theme Name: IDR Consultoria
Theme URI: http://www.idrconsultoria.com.br/
Author: Octocode - Desenvolvimento Web
Author URI: http://www.octocode.com.br
Version: 1.0
*/
/* Tags */

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

html, body {
    background: #fff;
    font-family: 'Catamaran', sans-serif;
    width: 100% !important;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, span, a {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
.cat-item {
    position: relative;
}
.home h3 {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
}

/* Seletores */
#header {
    height: 148px;
}
#header .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
#header .navbar-brand > img {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}
#navbar {
    padding-right: 0px;
    margin-right: -16px;
}
/* first-menu */
#first-menu {
    margin-top: 10px;
    margin-right: 40px;
}
.botaoirblog {
    text-align: center;
    margin-bottom: 50px;
}
.botaoirblog a {
    background: #0083a2;
    color: #fff;
    font-family: "Catamaran",sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    padding: 5px 25px;
    border-radius: 8%;

}
.botaoirblog a:hover, .botaoirblog a:focus {
    text-decoration: underline;
}
#first-menu > li > a {
    color: gray;
    float: left;
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
}
#first-menu > li > a:hover,
#first-menu > li > a:focus {
    background: none;
}
#first-menu > li > a.tel {
    padding-right: 14px;
    font-weight: bolder;
    font-size: 16px;
}
#first-menu > li > .divisor {
    border-right: solid 2px #0083a2;
    margin-top: 16px;
    height: 10px;
    display: block;
}
#first-menu > li > a.btn-consultor,
#first-menu > li > a.btn-consultor:hover {
    width: 204px;
    height: 36px;
    text-transform: uppercase;
    background: #0083a2;
    border: none;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
}
/* second-menu */
#second-menu {
    margin-top: 26px;
}
#second-menu > li {
    height: 45px;
    padding-left: 30px;
}
#second-menu > li > a,
#second-menu > li > a:hover {
    padding: 0;
    margin-top: 15px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    background: none;
}
#second-menu > li > a > .caret {
    margin-top: -2px;
    border: none;
    width: 25px;
    height: 25px;
    background: url(img/ico-menu-header.png) 4px center no-repeat;
}
#second-menu > li > .divisor {
    border-right: solid 1px;
    float: right;
    height: 42px;
    display: block;
    margin-left: 30px;
    margin-top: 5px;
}
#escolha a:hover, #escolha a:focus {
    color: #000;
    text-decoration: none;
}
#escolha a {
    color: #000;
}
.fundobranco {
    background: white !important;
}
.submenu {
    width: 510px;
    height: auto;
    background: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: solid 1px #5d9aaf;
}
#submenu3 {
    width: 600px;
}
.submenu li {
    height: 45px;
    width: 218px;
    float: left;
}
.submenu li a {
    height: 100%;
    font-size: 20px;
    line-height: 45px;
    font-weight: 700;
}
.submenu li a:hover,
.submenu li a:focus {
    background: #5d9aaf;
    color: #fff;
}
.submenu li:nth-child(odd) {
    width: 50%;
}
.submenu li:nth-child(even) {
    width: 50%;
}
.submenu .destaque {
    width: 100% !important;
    padding: 15px;
    height: auto;
    color: #3782a1;
}
.submenu .destaque img {
    float: left;
}
.submenu .destaque p {
    float: left;
    width: 260px;
    margin-left: 15px;
    text-align: justify;
}
.submenu .destaque .submenu-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
#submenu1 {
    margin-left: 30px;
}
#submenu3 {
    margin-left: -372px;
}
#submenu4 {
    margin-left: -334px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
@media (max-width: 767px) {
    .submenu {
        max-width: 90%;
    }
    .submenu li {
        width: 100% !important;
    }
}

/*********************/
/*********************/
/*********************/
#main-banner-submit:focus {
    text-decoration: none;
    outline: 0;
}
.container {
    /*width: 1428px;*/
    width: 100%;
    max-width: 1428px;
    /*border: solid 1px red;*/
    padding: 0;
}

.navbar-default .navbar-nav.second-menu > li > a {
    color: #0083a2;
}
#main-banner {
    height: 480px;
}
#main-banner .esq {
    height: 100%;
    width: 50%;
    float: left;
}
#main-banner .esq .field {
    width: 312px;
    height: 377px;
    border: 1px solid #ffffff;
    float: right;
    margin-right: 30px;
    margin-top: 70px;
    text-align: center;
}
.field .txt1 {
    color: #ffffff;
    font-family: "Catamaran",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 35px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.field .txt2 {
    color: #ffffff;
    font-family: "Catamaran",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.field .txt3 {
    color: #ffffff;
    font-family: Unna;
    font-size: 41px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 15px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.field .txt4 {
    color: #ffffff;
    font-family: Unna;
    font-size: 41px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.field .txt5 {
    color: #ffffff;
    font-family: "Catamaran",sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.field .txt6 {
    color: #ffffff;
    font-family: "Catamaran",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.bt-download {
    background: url(img/bt-download.png) top center no-repeat;
    width: 220px;
    height: 46px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#main-banner .dir {
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-left: 60px;
}
#main-banner .dir .container-pergunta {
    /* float: left; */
    /* width: 100%; */
    margin-bottom: 22px;
}
#main-banner .dir .container-pergunta .pergunta {
    color: #161616;
    font-family: Catamaran;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
#main-banner .dir .container-pergunta .opcao {
    background: #52869a;
    width: 129px;
    height: 76px;
    opacity: 0.7;
    color: #ffffff;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    float: left;
    margin-right: 10px;
    padding: 8px;
    display: table;
    text-align: center;
    cursor: pointer;
}
#main-banner .dir .container-pergunta .active {
    background: #84db7e;
}
#categorias .active {
    font-weight: 700;
    font-size: 30px;

}
#main-banner .dir .container-pergunta .error {
    margin-bottom: -20px;
    color: #ff0000;
    display: none;
}
#main-banner .dir .container-pergunta .opcao div {
    display: table-cell;
    vertical-align: middle;
}
#main-banner-submit {
    background: url(img/main-banner-submit.png) top center no-repeat;
    width: 626px;
    height: 43px;
    display: block;
    float: left;
}
#modal-home label.error {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
}
#como-funciona {
    min-height: 325px;
}
#como-funciona h3 {
    color: #162930;
}
#step1 {
    background: url(img/steps-background.png) 272px 16px no-repeat;
    max-width: 320px;
}
#step1 h2 {
    margin: 0;
    padding-left: 34px;
    padding-top: 9px;
}
#step1 p {
    margin-top: 4px;
    color: #6e6e6e;
    font-size: 16px;
    padding-left: 52px;
    width: 245px;
    line-height: 22px;
}
#step2 {
    background: url(img/steps-background.png) 334px 16px no-repeat;
    width: 390px;
}
#step2 h2 {
    margin: 0;
    padding-top: 9px;
    margin-left: 2px;
}
#step2 p {
    margin-top: 4px;
    color: #6e6e6e;
    font-size: 16px;
    padding-left: 24px;
    line-height: 22px;
    width: 310px;
}
#step3 {
    background: url(img/steps-background.png) 280px 16px no-repeat;
    width: 344px;
}
#step3 h2 {
    margin: 0;
    padding-top: 9px;
    margin-left: 0;
}
#step3 p {
    margin-top: 4px;
    color: #6e6e6e;
    font-size: 16px;
    padding-left: 20px;
    line-height: 22px;
    width: 310px;
}
#step4 {
    background: url(img/steps-background.png) 334px 16px no-repeat;
    width: 344px;
}
#step4 h2 {
    margin: 0;
    padding-top: 9px;
    margin-left: 0;
}
#step4 p {
    margin-top: 4px;
    color: #6e6e6e;
    font-size: 16px;
    padding-left: 22px;
    line-height: 22px;
    width: 310px;
}
.steps {
    padding-top: 50px;
}
.step h2 {
}
.step {
    background: url(img/steps-background.png) right top no-repeat;
}
#como-funciona h2 {
    margin-top: 0;
}
.number {
    font-family: 'Unna', serif;
    font-size: 22px;
    color: #04404f;
    margin-right: 5px;
}
h2 {
    font-family: 'Unna', serif;
    font-size: 36px;
    color: #0083a2;
}
.steps p {
    margin-top: 10px;
    color: #6e6e6e;
    font-size: 18px;
    padding-left: 30px;
    width: 245px;
}
.bg-escuro {
    background: #162930;

    height: 100%;
}
.bg-azul {
    background: #3682a0;
}
#dicas h3 {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 24px;
    text-align: center;
    text-transform: uppercase;
    height: 58px;
    color: #fff;
}
.hr-border {
    border-bottom: solid 1px #000;
    width: 40px;
    margin: 0 auto;
}
#dicas .hr-border {
    border-bottom: solid 1px #fff;
}
#dicas-desc {
    color: #ccc;
    padding: 0 60px;
    margin: 40px 0;
}
.dica {
    width: 100%;
    padding: 10px;
}
.dica img {
    width: 100%;
}
.bg-dica {
    background: #2e3f45;
    padding: 25px;
    color: #fff;
    font-weight: normal;
    height: 300px;
}
.bg-dica .categoria {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}
.bg-dica .titulo a {
    font-family: 'Unna', serif;
    color: #6cbfd3;
    font-size: 28px;
    margin: 10px 0;
}
.bg-dica .texto p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-height: 100%;
}

#categorias {
    padding-top: 40px;
}
#categorias #escolha {
    font-weight: 400;
    color: #546b73;
    font-size: 12px;
}
#escolha-label {
    text-align: center;
    margin-top: 20px;
}
ul#escolha-categorias {
    margin: 0 auto;
    text-align: center;
    width: 740px;
    height: 32px;
    margin-bottom: 40px;
}
#escolha-categorias li {
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    float: left;
    cursor: pointer;
}
#escolha-categorias li span.divisor {
    border-right: solid 1px #396879;
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
    float: right;
    margin-top: 0px;
}

/* tabs */
.tab-page { display:none; }
.active-page { display: block; }

.cat-item {
    height: 224px;
    margin-bottom: 60px;
}
.cat-item .destaque,
.cat-item .attachment-destaque_home {
    float: left;
    z-index: 1;
    position: absolute;
}
.cat-item .cat-item-text {
    margin-left: 330px;
    position: absolute;
    width: 1115px;
    height: 220px;
    padding-top: 10px;
}
.cat-item .categoria {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}
.cat-item .titulo a {
    color: #6cbfd3;
    font-family: Unna;
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 20px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 98%;
}
.cat-item .texto {
    color: #fff;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 25px;
}
.cat-item .link {
    background: url(img/ico-cat-item-link.png) no-repeat top right #2a3b44;
    padding-top: 4px;
    padding-left: 25px;
    height: 25px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.cat-item .link:hover {
    text-decoration: underline;
}
.cat-item a {
    color: #54707b;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}

#servicos h3 {
    color: #fff;
}
#servicos .hr-border {
    border-bottom: solid 1px #fff;
}
#servicos h2 {
    color: #000;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    text-align: center;
}
.servico {
    background: #339cb5;
    padding-top: 50px;
    margin-top: 40px;
    height: 260px;
}
@media (max-width: 767px) {
    .servico, .bg-dica {
        height: auto !important;
    }
}
@media only screen and (min-width: 982px) {
    .servico.active {
        background: #66b5c7;
        margin-top: 20px;
        height: 280px;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
}
.servico p {
    padding: 20px;
    color: #fff;
    text-align: center;
}

#footer {
    background: #18455a;
    /* height: 950px; */
}
#footer a {
    color: white !important;
    text-decoration: none;
}
#footer h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
}
#bg-newsletter {
    background: #26617b;
    margin-left: 50%;
    height: 680px;
    margin-bottom: -680px;
}
#bg-quem-somos {
    background: #36829d;
}
#bg-chat-consultor {
    background: #469eb0;
    margin-left: 50%;
    height: 270px;
    margin-bottom: -270px;
}
#contato {
    background: #18455a;
    width: 408px;
    height: 680px;
    display: block;
    float: left;
    color: #fff;
}
@media (max-width: 767px) {
    #contato {
        width: 100%;
    }
    #bg-chat-consultor {
        margin-left: 0;
        height: auto;
    }
}
#contato .hr-border {
    border-bottom: solid 1px #fff;
    margin-bottom: 35px;
}
#contato .contato-itens {
    padding-left: 20px;
}
#contato .contato-item {
    font-family: Catamaran;
    line-height: 24px;
    margin-bottom: 30px;
}
#contato .contato-ico {
    height: 50px;
    width: 50px;
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-right: 6px;
}
#contato .contato-label {
    color: #32e27f;
    font-size: 14px;
    font-weight: 700;
}
#contato .contato-value {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}
#endereco {
    color: #feffff;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 80px;
}
.cta-fale {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

.faq-template-default #content {
    min-height: 900px !important;
    padding-top: 0;
}
.faq-template-default .accordion-content p {
    font-size: 22px;
    line-height: 35px;
    font-family: "georgia";
}
#faq {
    background: #215872;
    width: 630px;
    min-width: 630px;
    height: 680px;
    float: left;
    color: #fff;
}
#faq .hr-border {
    border-bottom: solid 1px #fff;
}
#faq #accordion {
    margin: 45px 30px 0px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-family: Catamaran;
    height: 530px;
    overflow: hidden;
}
#faq #accordion span{
    color: #00b6e1;
    font-family: Unna;
    font-size: 18px;
    margin-right: 6px;
}
#faq .accordion-item {
    background: url(img/ico-faq.png) no-repeat 550px 26px;
    border-bottom: solid 1px #4d798e;
    padding: 10px 0;
    padding-right: 20px;
}
#faq .accordion-toggle a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    outline: none;
}
#faq .accordion-content { display: none; }
#faq .accordion-content.default { display: block; }
#faq-sidebar {
    width: 100%;
    height: 100%;
    max-width: 390px;
    float: right;
    color: #fff;
    padding: 30px;
}
#faq-sidebar .tit-submenu {
    font-size: 22px;
    color: #cce9f2;
    font-family: 'Unna', serif;
    text-transform: uppercase;
    font-family: Catamaran;
    font-weight: 700;
    margin-bottom: 25px;
}
#faq-sidebar ul li {
    float: left;
    margin-bottom: 40px;
    width: 100%;
    max-width: 320px;
}
#faq-sidebar ul li a {
    color: #2b3a41;
    font-weight: 700;
    font-size: 16px;
}
#faq-sidebar ul li a:hover {
    text-decoration: none;
}
#faq-sidebar .link-img {
    float: left;
    margin-right: 8px;
}
#faq-sidebar .categoria {
    font-family: Catamaran;
    text-transform: uppercase;
    color: #fff;
    display: flex;
}
#faq-sidebar .link-ler-mais {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding: 2px;
    padding-left: 10px;
    line-height: 18px;
    padding-top: 4px;
    background: url(img/ico-leia-tambem.png) no-repeat top right #abc3cb;
}
#faq-sidebar img {
    margin: 0 auto;
    display: flex;
}
.accordion-faq {
    margin-bottom: 60px;
}
.accordion-faq h4 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 24px;
}
.accordion-faq h4 span {
    color: #337ab7;
}
.accordion-faq h4 a {
    color: #000;
}
.accordion-faq h4 a:hover {
    text-decoration: none;
}

#newsletter {
    width: 100%;
    height: 680px;
    max-width: 390px;
    float: right;
    color: #fff;
    text-align: center;
}
#newsletter .hr-border {
    border-bottom: solid 1px #fff;
}
#bg-white {
    width: 280px;
    height: 230px;
    background: #518095;
    margin: 0 auto;
    margin-top: 85px;
}
#form-newsletter {
    width: 280px;
    background: url(img/bg-form-newsletter.png) no-repeat center top;
    margin: 0 auto;
    margin-top: -40px;
    padding-top: 125px;
    float: left;
}
#form-newsletter p {
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
#wpcf7-f445-o1 p span {
    position: relative;
    z-index: 1000;
}
.news-email {
    width: 259px;
    height: 39px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}
.news-submit {
    background: url(img/bg-news-submit.png);
    width: 108px;
    height: 46px;
    border: none;
    color: transparent;
    text-align: center;
    margin-top: 40px;
    position: relative;
    z-index: 10;
}

#redes-sociais {
    width: 120px;
    margin: 0 auto;
    margin-top: 85px;
    height: 120px;
}
#redes-sociais a {
    margin: 5px !important;
    width: 48px;
    height: 48px;
    float: left;
}
@media (max-width: 767px) {
    #redes-sociais {
        background: #efefef;
        border-radius: 5px;
        width: 117px;
        height: 117px;
    }
}
#quem-somos-container {
    width: 1040px;
    height: 270px;
    display: block;
    float: left;
    background: #36829d;
    padding: 20px;
    color: #ffffff;
}
#quem-somos-container h4 {
    font-weight: 400;
    line-height: 24px;
    font-size: 30px;
    margin-bottom: 30px;
}
#logo-rodape {
    margin-top: 30px;
    float: left;
}
#quem-somos {
    float: left;
    width: 700px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 28px;
    text-align: justify;
}
#chat-consultor-container {
    height: 270px;
    width: 388px;
    float: left;
    background: #469eb0;
}
#chat-consultor {
    margin-left: 40px;
    margin-top: 150px;
    float: left;
}
@media (max-width: 767px) {
    #chat-consultor {
        margin-top: 50px !important;
        margin-left: auto;
        display: inline-block;
        float: none;
    }
    #chat-consultor-container {
        height: auto !important;
        padding-bottom: 50px;
        text-align: center;
        width: 100%;
    }
}
#voltar-topo {
    margin-top: -80px;
    position: relative;
    float: left;
}

#faixa-interna {
    background: #5198ae;
    font-family: 'Unna', serif;
    padding: 6px;
    font-size: 46px;
    padding-left: 46px;
    color: #fff;
    font-weight: bold;
}
#breadcrumb {
    height: 25px;
    background: #f2f2f2;
    padding-left: 48px;
    font-size: 12px;
    padding-top: 2px;
    color: #b2b2b2;
}
#content {
    padding: 50px;
    padding-top: 60px;
}
.page #container,
.faq-template-default #container {
    background: #8fb6bf;
}
.page #content,
.faq-template-default #content {
    width: 100%;
    max-width: 1038px;
    float: left;
    background: #fff;
    min-height: 700px;
}
.page .entry-content,
.faq-template-default .entry-content {
    color: #000;
}
#page-sidebar {
    width: 100%;
    height: 100%;
    max-width: 390px;
    float: right;
    color: #fff;
    padding: 30px;
}
#page-sidebar .tit-submenu {
    margin-top: 20px;
    font-size: 38px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#page-sidebar ul {
    margin-bottom: 50px;
}
#page-sidebar ul li {
    border-bottom: solid 1px #bcd3d9;
    margin-top: 15px;
}
#page-sidebar ul li a {
    color: #32606c;
    text-decoration: none;
    font-size: 30px;
}
.errorpage ul {

}
#ficha-tecnica {
    background: rgb(233, 233, 233) none repeat scroll 0% 0%;
    width: 935px;
    margin: 0px auto;
    margin-bottom: 80px;
    padding-bottom: 20px;
}
#ficha-tecnica .ficha-tecnica-tit {
    font-weight: bolder;
    font-size: 24px;
    padding-top: 24px;
    text-align: center;
    text-transform: uppercase;
    height: 58px;
    color: #4c92a0;
}
#ficha-tecnica .ficha-tecnica-item .ficha-item-tit {
    background: #8cbecb;
    width: 295px;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    height: 30px;
    padding-left: 30px;
    line-height: 30px;
    font-weight: 700;
}
#ficha-tecnica .ficha-tecnica-item p {
    font-family: Catamaran, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: lighter;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#fale-consultor {
    background:#d0f1e0;
    width:935px;
    height:300px;
    margin:0 auto;
    border-top: solid 10px #19bf61;
    text-align: center;
}
#fale-consultor .wpcf7-tel {
    margin-bottom: 20px;
}
#fale-consultor .tit1 {
    font-size: 38px;
    margin-top: 30px;
}
#fale-consultor .tit2 {
    font-size: 20px;
    margin-top: 18px;
}
#fale-consultor form {
    margin-top: 25px;
}
#fale-consultor #tel {
    width: 455px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 12px;
    font-size: 18px;
}
#fale-consultor #submit {
    height: 48px;
    border-radius: 3px;
    background: #19be63;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    margin-left: 15px;
}

.archive #escolha-label {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

#post-category {
    font-size: 18px;
    text-transform: uppercase;
    color: #292929;
    height: 20px;
}
#post-title {
    margin-top: 0;
    font-family: 'Unna', serif;
    color: #3581a0;
}
.entry-content {
    font-family: "Georgia","Times New Roman",serif;
    font-size: 18px;
    color: #000;
    font-weight: lighter;
/*     margin-top: 60px; */
    line-height: 38px;
}
.attachment-post-thumbnail {
    float: left;
    margin: 0px 40px 40px 0px;
}
#post-footer {
    margin-bottom: 80px;
}
/*
.single-post #main .container {
    background: url(img/post.png) top center no-repeat;
    height: 1920px;
}
*/

.single-faq #categorias {
    min-height: 1020px;
    height: auto;
}
.single-faq #escolha-categorias li {
    color: #000;
}
.single-faq #escolha-categorias li.active {
    color: #000;
    font-weight: 700;
}

/* PÃ¡gina do blog */
.page-template-page-blog #container {
    background: #fff;
}
.page-template-page-blog #content {
    max-width: inherit;
}
.page-template-page-blog #categorias {
    max-width: 1325px;
    margin-bottom: 60px;
}
.page-template-page-blog .escolha-label {
    color: #5b6b71;
}
.page-template-page-blog #escolha-categorias li {
    color: #000;
}
.page-template-page-blog .cat-item .cat-item-text {
    width: 100%;
    max-width: 1000px;
}
.page-template-page-blog .cat-item .categoria {
    color: #292929;
}
.page-template-page-blog .cat-item .texto {
    color: #292929;
}
.page-template-page-blog .cat-item .link {
    background: url(img/ico-cat-item-link-interna.png) no-repeat top right #eaeaec;
}

/* TRABALHE CONOSCO
===================================*/
.form-group input, .form-group select {
    position: relative;
    z-index: 100;
}
.wpcf7 select[name="your-interesse"], .wpcf7 select[name="your-estado"] {
    color:#aaa;
}
span select[role="alert"] {
    height: 0;
}
/* CURSOS
===================================*/
#curso-content {
    background: #fff;
}
#curso-content .container {
    width: 100%;
}
.img-sec {
    margin-top: 75px;
    margin-bottom: 75px;
    background: url('img/road.png') top left no-repeat;
    background-size: cover;
}
.img-sec h2 {
    color: #fff;
    padding: 0 20px;
    font-size: 47px;
}
.img-sec p {
    color: #000;
    font-weight: bold;
    font-size: 120%;
}
.gestao-inov {
    margin-bottom: 20px;
}
.gestao-inov h2 {
    font-family: "Catamaran";
    font-weight: bold;
    color: #6cbed3;
}
.img-sec .row .col-sm-4, .img-sec .row .col-sm-6 {
    padding: 50px;
    padding-right: 65px;
}
.texto-cursos p {
    margin-bottom: 0;
    font-size: 20px;
    font-family: georgia;
    margin: 0 0 10px;
    line-height: 28px;
}
.texto-cursos .negrito {
    font-weight: bold;
    font-size: 1.2em;
}
.texto-cursos {
    margin-bottom: 70px;
}
.btn-saiba {
    color: #fff;
    background: #1e9ec1;

}
.dispnone {
    display: none;
}
.subheader-img {
    height: 100px !important;
    width: auto !important;
}
/* CONTACT GOOGLE MAPS SECTION */

#wpgmza_map {
    border: solid 7px #ccc;
}
.leadtext p {
    font-size: 20px;
}
.tabcel {
    float: left;
    padding: 15px;
    margin-right: 50px;
    margin-top: 150px;
    background: #a7c5cd;
}
.tabcel p {
    margin-bottom: 0px;
}
/* .wpcf7 input[type="file" ] {
    height: 100px;
} */

/* IDR EM NUMEROS */
#idr-em-numeros {
   padding-bottom: 50px;
}
#idr-em-numeros hr {
    width: 60px;
    border: 1px #000 solid;
    margin-top: 0;
}
#idr-em-numeros .upper {
    position: relative;
}
#idr-em-numeros .mais, #idr-em-numeros .dolar, #idr-em-numeros .num-valor {
    display: inline-block;
}
#idr-em-numeros .mais img {
    font-size: 110px;
    position: absolute;
    left: 55px;
    top: 85px;
}

#idr-em-numeros .dolar {
    font-size: 65px;
    color: #225a75 !important;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 165px;
    top: 60px;
}
#idr-em-numeros .num-valor {
    font-size: 80px;
    color: #225a75;
    font-weight: bold;
    position: absolute;
    left: 260px;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
}
#idr-em-numeros .milhoes {
    font-size: 60px;
    color: #225a75;
    font-weight: bold;
    letter-spacing: 3px;
    position: absolute;
    top: 130px;
    left: 160px;
}
#idr-em-numeros .downer p {
    font-size: 20px;
    margin-top: 220px;
    text-align: justify;
    padding: 0 70px;
    line-height: 23px;
    color: #225a75;
}
@media (max-width: 767px) {
    #idr-em-numeros .mais img {
        width: 50px;
        left: 65px
    }
    #idr-em-numeros .dolar {
        font-size: 40px;
        left: 136px;
    }
    #idr-em-numeros .num-valor {
        font-size: 50px;
        left: 191px;
    }
    #idr-em-numeros .milhoes {
        font-size: 40px;
        left: 132px;
        top: 110px;
    }
}
/* PAGE NAVI */
.wp-pagenavi {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.4em;
}
#contenthomeblog .wp-pagenavi a {
    border: none !important;
    background: rgb(34,77,93);
    font-family: 'Open Sans', sans-serif;
    color: rgb(168,180,186);
    padding: 2px 10px;
}
#contenthomeblog .wp-pagenavi span {
    border: none !important;
    background: rgb(49,132,162);
    font-family: 'Open Sans', sans-serif;
    color: rgb(254,254,252);
    padding: 2px 10px;
}
#contentblog .wp-pagenavi a {
    border: none !important;
    background: rgb(153,205,218);
    font-family: 'Open Sans', sans-serif;
    color: rgb(207,231,255);
    padding: 2px 10px;
}
#contentblog .wp-pagenavi span {
    border: none !important;
    background: rgb(0,130,162);
    font-family: 'Open Sans', sans-serif;
    color: rgb(254,254,254);
    padding: 2px 10px;
}
.textobox p {
    color: black !important;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background: url(img/boxe.png);
    height: 208px;
    padding-top: 70px;
}
.thankcontent h4 {
    font-weight: bold !important;
}
.download-item a.classerror {
    font-family: 'Open Sans', sans-serif;
    line-height: 130px;
    font-size: 15px;
    font-weight: bold;
}
.errorpage, .errorsidebar {
    display: inline-block;
}
.errorpage {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.error-item {
    width: 850px;
    margin-left: 40px;
    height: 130px !important;
    margin-bottom: 15px !important;
}
.errorsidebar {
    background: #8fb6bf;
}
.download-item {
    height: 152px;
    border-left: 7px solid #0083a2;
    position: relative;
    margin-bottom: 30px;
}

.download-item .row {
    height: 100%;
}
.textthankpart {
    background: #E6E6E6;
    height: 100%;
}
.thankimage {
    height: 100%;
}
.thankimage img {
    height: 100%;
}
.receber-download {
    position: absolute;
    right: 20px;
    top: 65px;
    color: #fff;
    background: #0083a2;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}
.receber-download:hover {
    color: #fff;
    text-decoration: none;
}
.modal-header .close {
    display: none !important;
}
.modal-backdrop {
    opacity:0.75 !important;
}
#myModa2 .wpcf7-radio {
    height: 60px;
}
.alternate-form {
    padding-top: 50px;
    padding-bottom: 50px;
}
.alternate-form img {
    width: 100%;
    height: 35px;
}
.escondido {
    display: none;
}
#alternate-banner .wpcf7-list-item {
    color: #0083a2;
    font-weight: bold;
}
#alternate-banner .wpcf7-list-item input {
}
#categorias ul {
    list-style-type: none;
}
#faq-sidebar ul {
    list-style-type: none;
}
#page-sidebar ul {
    list-style-type: none;
}
#page-sidebar ul ul {
    margin-bottom: 0;
}
#page-sidebar ul ul li:last-child {
    border-bottom: none;
}
