/* RESPONSIVE */

/* 980PX */
/* HOME */
.ipad-idr-em-num {
	display: none;
}
.slicknav_menu {
	display: none;
}
li.tirar-desk {
	display: none;
}
#topomobile {
	display: none;
}
#alternate-banner {
	display: none;
}
@media only screen and (max-width: 1024px) {
	#header {
		width: 80%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
	/* HEADER */
	#header {
		max-width: 90% !important;
	}
	#header .navbar-brand img {
		position: absolute;
		left: 0;
	}

	/* BANNER PRINCIPAL */
	#main-banner .dir, #main-banner .esq {
		width: 100% !important;
		float: center;
	}

	#main-banner .esq {
		align-content: center;
	}

	#main-banner .dir {
		margin-bottom: 50px;
	}

	#main-banner .dir .container-pergunta {
		padding-left: 160px;
	}

	#main-banner .esq .field {
		width: 360px !important;
		margin-right: 50px !important;
	}
	a#main-banner-submit {
		margin-left: 160px !important;
	}
	#main-banner .active {
		background: #83da7cff;
	}
	#dicas {
		max-width: 75% !important;
	}
	/* COMO FUNCIONA */
	#como-funciona .step {
		display: inline-block;
		background: none;
		margin-left: 0;
		max-width: 320px;
		margin-bottom: 10px;
	}
	#step1 {
		/* margin-left: 130px; */
		text-align: center;
	}
	#step2 {
		margin-left: 100px;
		text-align: left;
	}
	#step3 {
		margin-left: 165px;
		text-align: left;
		margin-bottom: 30px;
	}
	#step4 {
		margin-left: 0px;
		text-align: left;
		margin-bottom: 30px;
	}
	/* SERVIÃ‡OS */
	#servicos .servico {
		margin-top: 0 !important;
	}
	#servicos .servico-active {
		margin-top: 0 !important;
	}
	#servicos .hr-border {
		margin-bottom: 30px;
	}
	#servicos .fund-perd {
		background: rgba(134,179,198,255) !important;
	}
	#servicos .leidbem {
		background: rgba(95,155,179,255) !important;
	}
	#servicos .mea {
		background: rgba(88,144,167,255) !important;
	}
	#servicos .servico h2 {
		display: inline-block;
		margin-top: 80px;
		padding-left: 50px;
		font-size: 50px;
	}
	#servicos .servico p {
		display: inline-block;
		width: 60%;
		float: right;
		text-align: justify;
		font-weight: bold;
		font-size: 20px;
	}
	#bg-newsletter, #faq, #newsletter, #bg-quem-somos {
		width: 100% !important;
	}
	.cat-item {
		max-width: 80% !important;
		padding: 0 5%;
		height: auto;
	}
	.cat-item-text {
		max-width: 60% !important;
	}
	.cat-item-text .titulo a {
		text-align: justify !important;
	}
	#servicos, #idr-em-numeros {
		max-width: 100% !important;
	}
	.col-lg-4, .row$ {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100%;
	}
	.cat-item .texto {
		font-size: 0.95em !important;
		line-height: 15px !important;
	}
	.downer, .upper {
		display: inline-block;
	}
	#dicas {
		display: none;
	}
	.tab-page a {

	}
	#faq {
		display: none;
	}
	.partnum {
		display: block;
	}
	.upper {
		top: 100px;
	}
	.desktop-idr-em-num {
		display: none;
	}
	.ipad-idr-em-num {
		display: block;
	}
	.upper {
		align-content: right;
		top: 0;
		left: 80px;
	}
	.downer p.lead {
		margin-top: 100px !important;
		padding-left: 0 !important;
		font-size: 26px !important;
	}
	/* FOOTER ------------------------ */
	#bg-newsletter, #quem-somos-container, #chat-consultor-container {
		max-width: 50% !important;
	}
	#quem-somos-container h4, #quem-somos-container p {
		margin: 0 !important;
	}
	#bg-quem-somos p {
		width: 50%;
		max-height: 100px;
		line-height: 15px;
		font-size: 12px;
	}
	#footer .contato-itens {
		padding-left: 80px !important;
	}
	#newsletter {
		padding-right: 100px;
	}
	/* PÃGINAS */
	#page-sidebar {
		display: none;
	}
	.page #content {
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 100px;
	}
	#fale-consultor {
		width: 700px !important;
	}
	#ficha-tecnica {
		width: 700px !important;
	}
	/* CURSOS */
	#curso-content {
		width: 80%;
		padding-left: 120px;
	}
	.cat-item-text {
		margin-left: 0;
	}
	/* CONTATO */
	#faq-sidebar {
		display: none;
	}
	/* BLOG */
	.page-template-page-blog #categorias .cat-item {
		padding-left: 0;
		/* width: 50% !important; */
	}
	.page-template-page-blog .cat-item-text {
		width: 50% !important;
	}
	.page-template-page-blog .cat-item-text .texto {
		font-size: 14px !important;
		line-height: 8px;
	}
	.page-template-page-blog .cat-item .titulo a {
		font-size: 18px !important;
		margin-bottom: 10px !important;
	}
	.col-lg-12 .hr-border {
		display: none;
	}
	#curso-content img {
		width: 100%;
		height: auto;
	}
	.thumbnail-blog img {
		max-width: 100%;
		height: auto;
	}

}

@media only screen and (max-width: 767px) {
	#header {
		display: none;
	}
	ul#escolha-categorias .esp {
	    font-weight: 400;
	    font-size: 22px !important;
	    float: left;
	    cursor: pointer;
	}
	#bg-quem-somos {
		background: #18455a !important;
	}
	#breadcrumb {
		height: 40px !important;
	}
	.upper {
		left: -22px !important;
	}
	#faq {
		display: none;
	}
	#quem-somos-container {
		display: none !important;
	}
	.servico p {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.servico.mea {
		margin-bottom: 50px;
	}
	.dir {
		display: block !important;
	}
	#main-banner {
		display: none !important;
	}
	#step1, #step2, #step3, #step4 {
		background: none !important;
		max-width: 320px !important;
		display: inline-block;
	}
	.step h2, .step p {
		padding-left: 0 !important;
		text-align: center !important;
		max-width: 100%;
	}
	.steps {
		text-align: center;
		padding-top: 0 !important;
		padding-bottom: 30px;
	}
	.bg-dica p {
		font-size: 13px;
		text-align: center;
	}
	.bg-dica .titulo a {
		font-size: 20px !important;
	}
	#contenthomeblog {
		display: none !important;
	}
	.slicknav_menu {
		display: block;
	}
	#topomobile {
		display: block;
	}
	li.tirar-desk {
		display: block;
	}
	#fale-consultor {
		max-width: 100% !important;
	}
	#fale-consultor #tel {
		max-width: 100% !important;
	}
	#alternate-banner {
		display: block;
	}
	#alternate-banner .partedafoto img {
		width: 100%;
		height: auto;
	}
	#alternate-banner .field {
		background: #0083a2;
		text-align: center !important;
		padding-bottom: 50px;
	}
	#alternate-banner .field .txt1 {
		margin-top: 0;
		padding-top: 20px;
	}
	#alternate-banner .field .txt6 {
		padding-bottom: 20px;
	}
	.your-forma-contato .input-lg {
		height: 65px;
	}
	div.wpcf7 input[type="file"] {
		max-width: 100%;
		margin-bottom: 30px;
	}
	#escolha-categorias li span.divisor {
		display: none;
	}
	ul#escolha-categorias li {
		display: block !important;
	}
	.page-template-page-cursos .col-sm-4 p.lead {
		color: #fff;
	}
	#curso-content {
		width: 89%;
		margin-left: 17px;
	}
	#curso-content img {
		width: 100%;
		height: auto;
	}

	.page-template-page-blog .cat-item .link {
		position: relative !important;
	}
	.cat-item .cat-item-text {
		margin-top: 156px !important;
		margin-left: 0px !important;
	}
	.cat-item {
		margin-bottom: 243px !important;
	}
	#contentblog .cat-item img {
		height: auto !important;
		width: 223px !important;
	}
	#contentblog ul#escolha-categorias {
		width: 68%;
	}
	#categorias ul#escolha-categorias {
		width: 68%;
	}
	.pagobrigado .textthankpart {
		height: 126% !important;
	}
	.pagobrigado .download-item {
		height: 180px !important;
		margin-bottom: 300px !important;
	}
	.pagobrigado .receber-download {
		top: 100px !important;
	}
	.slicknav_nav {
		font-size: 16px;
	}
	.errorpage .error-item {
		margin-bottom: 150px !important;
	}
	.classmobile {
		width: 24% !important;
	}
	.download-item a.classerror {
		line-height: 25px !important;
		margin-top: 50px !important;
	}
	.errorpage .error-item {
		margin-left: 100px;
	}
	.errorpage #fale-consultor {
		width: 28% !important;
		margin-left: 58px !important;
		margin-bottom: 20px !important;
	}
	#contentblog #content {
		padding-left: 0 !important;
		padding-top: 0 !important;
	}
	#contentblog #fale-consultor {
		margin-left: 30px !important;
		margin-bottom: 10px !important;
	}
	#escolha a {
		font-size: 30px;
	}
	#faixa-interna {
		font-size: 30px !important;
	}
	.mobileerrotitulo {
		text-align: left;
		margin-left: 25px;
	}
	#fale-consultor .tit1 {
		font-size: 25px !important;
	}
	.thumbnail-blog img {
		max-width: 150%;
		height: auto;
		margin-left: -50px;
	}
}

.slicknav_menu {
    font-size: 16px;
    background: #0083a2;
    padding: 5px;
}
.slicknav_menutxt {
	display: none !important;
}
.slicknav_icon {
	margin: 0 !important;
	background: none !important;
}
.slicknav_btn {
	background: none !important;
	font-weight: bold;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow: inherit;
    padding: 0;
}
#topomobile {
	height: 200px;
	background: white;
}
	#main-banner .dir .container-pergunta .opcao {
		width: 100px !important;
	}
@media only screen and (max-width: 1024px) and (min-width: 981px) {
	.steps {
		padding-top: 50px !important;
	    position: relative !important;
	    left: 159px !important;
	    width: 67% !important;
	    padding-bottom: 50px;
	}
	#step3 {
		position: relative;
		left: 50px;
	}

}
@media only screen and (max-width: 1366px) and (min-width: 1025px) {
	#header	{
		width: 90% !important;
	}
	#newsletter {
		width: 23% !important;
	}
	#chat-consultor-container {
		width: 300px !important;
	}
	#chat-consultor {
		margin-left: 20px !important;
		margin-top: 100px !important;
	}
	.cat-item .cat-item-text {
		width: 975px !important;
	}
	.cat-item .destaque, .cat-item .attachment-destaque_home {
		left: 20px !important;
		top: -2px !important;
	}
	#faq-sidebar {
		width: 23% !important;
	}
	.row.steps {
		padding-left: 65px;
		padding-bottom: 30px;
		width: ;
	}
	.step {
		background: none !important;
		width: 23% !important;
	}
	#curso-content {
		padding: 0 75px;
	}
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
	#main-banner .dir {
		padding-left: 1px !important;
	}
	.container-pergunta {
		padding-left: 100px !important;
	}
	a#main-banner-submit {
		margin-left: 100px !important;
	}
	.row.steps {
		padding-left: 65px;
		padding-bottom: 30px;
	}
	#step3 {
		padding-left: 63px;
	}
	#servicos .servico h2 {
		padding-left: 15px !important;
		font-size: 45px !important;
	}
	#servicos .servico p {
		max-height: 100%;
		font-size: 19px !important;
	}
	#idr-em-numeros .upper {
		left: -10px;
	}
	#newsletter {
		max-width: 350px !important;
		padding-right: 0px !important;
	}
	#quem-somos-container {
		display: none !important;
	}
	#chat-consultor {
		margin-left: 250px !important;
		margin-top: 100px !important;
	}
	#header .navbar-brand img {
		top: -20px;
		left: -16px;
	}
	#second-menu {
		position: absolute;
		left: 0;
	}
	#fale-consultor {
		width: 560px !important;
	}
	.page-template ul#escolha-categorias {
		left: -57px;
		position: relative;
	}
	.error-item {
		width: 675px !important;
	}
	#contenthomeblog #categorias #escolha {
		margin-left: 95px;
	}
	.download-item {
		height: 175px !important;
	}
	#escolha-categorias li {
		font-size: 25px !important;
	}
}
@media only screen and (max-width: 320px){
	.submenu li a {
		font-size: 17px !important;
	}
	.submenu .destaque p {
		margin-left: -6px !important;
	}
	.wpcf7-radio {
		height: 80px !important;
	}
	.thankimage {
		height: 85% !important;
	}
	.download-item {
		border: none !important;
	}
	.thankimage img {
		border-left: 7px solid #0083a2;
	}
	.pagobrigado .receber-download {
		top: 130px !important;
	}
	#escolha a {
		font-size: 22px !important;
	}
	#contentblog #content {
		padding-left: 0 !important;
		padding-top: 0 !important;
	}
	#contentblog #fale-consultor {
		margin-left: 30px !important;
		margin-bottom: 10px !important;
	}
	#faixa-interna {
		font-size: 36px !important;
	}
	.submenu .destaque p {
		width: 236px;
	}
	.thumbnail-blog img {
		max-width: 200%;
	}
	.faaaq ul#escolha-categorias .esp {
	    font-weight: 400;
	    font-size: 18px !important;
	    float: left;
	    cursor: pointer;
	}

}
#myModa2 {
	padding-top: 30px;
}
.slicknav_menu {
	position: fixed;
	width: 100%;
	z-index: 100000000;
}
#alternate-banner {
	margin-top: 49px;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 4px 10px;
	margin: 1px 5px;
}
.fale-consult-evidencia {
	font-weight: bold;
	font-size: 18px !important;
	letter-spacing: 1px;
	color: #162930 !important;
}